 body {
  font-family: Arial, sans-serif;
  background-color: green;
  color: white;
  margin: 20px;
  text-align: center;
}

h1 {
   background-color: white;
  color: darkgreen;
}

h2 {
  background-color: white;
  color: darkgreen;
  margin-top: 30px;
}

p {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

ul,
ol {
  display: inline-block;
  text-align: left;
}

img {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  margin: 10px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}